include LICENSE
include license.txt
include README.md
include CHANGELOG.md
include SECURITY.md
include requirements.txt

recursive-include opensalestax_erpnext *.json
recursive-include opensalestax_erpnext *.js
recursive-include opensalestax_erpnext *.html
recursive-include opensalestax_erpnext *.txt
recursive-include opensalestax_erpnext *.md

global-exclude __pycache__
global-exclude *.py[cod]
